{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        <div id="container">
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            <div id="welcome">
                <h1>Read me</h1>
            </div>
            <ul>
                <li><a href="#task">about this task</a></li>
                <li><a href="#features">fatures used on project</a></li>
                <li><a href="#setup">Setup docker project  etc. </a></li>
            </ul>
            <h1 id="task">Task</h1>
            <h2>Requires:</h2>
            <p>

                • Working with PHP7.* and Symfony 3.* <br>
                • Mysql Database<br>
                • Use Symfony coding standards<br>
                • Nginx or Apache<br>
            </p>

            <h2>Test tasks:</h2>
            <p>
                • Use the api.nasa.gov (https://api.nasa.gov/api.html#neowsfeed)  write a command to request the data
                from the last 3 days from nasa api (API-KEY N7LkblDsc5aen05FJqBQ8wU4qSdmsftwJagVK7UD) <br>
                • response contains count of Near-Earth Objects (NEOs)<br>
                • persist the values in your DB without duplicates<br>
                • Define the model as follows:date, reference (neo_reference_id),name, speed (kilometers_per_hour),
                is hazardous (is_potentially_hazardous_asteroid) <br>
                • Create a route /neo/hazardous: display all DB entries which contain potentially
                hazardous asteroids (with pagination), format JSON<br>
                •  Create a route /neo/fastest?hazardous=(true|false),analyse all data. calculate and return the model
                of the fastest asteroid.with a hazardous parameter, where true means is
                hazardous.default hazardous value is false. format JSON<br>

                • Create a route /neo/best-year?hazardous=(true|false). analyse all data.calculate and return a year
                with most asteroids. with a hazardous parameter, where true means is
                hazardous.default hazardous value is false.format JSON. <br>


                • reate a route /neo/best-month?hazardous=(true|false). analyse all data.calculate and return a month with most asteroids
                (not a month in a year).  with a hazardous parameter, where true means is
                hazardous. default hazardous value is false. format JSON<br>


                • Create functional tests for this API points.<br>


                • Bonus points:  • Use restful API best practices
                • API documentation
                • Clean code :)
                • Knowledge of Docker

            </p>

            <h2 id="features">Used features</h2>

            <h2 id="setup">How to</h2>
        </div>
    </div>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 40px;
            right: 140px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn:hover {
            background-color: #555;
        }
    </style>
{% endblock %}
